.body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td,
th {
    border: 1px solid gray;
    padding: 5px 10px;
}

.high {
    background-color: red;
}

.midle {
    background-color: yellow;
}

.low {
    background-color: green;
}