{% extends 'base.html' %} {% block main %}


<div class="container">
    <h1>Todo list</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Названия</th>
                <th>Описания</th>
                <th>Приоритет</th>
                <th>Статус</th>
                <th>Создано</th>
                <th>Время оканчания</th>
            </tr>
        </thead>
        <tbody>
            {% for todo_item in todo_items %}
            <tr class="{{todo_item.priority}}">
                <td>{{forloop.counter}}</td>
                <td>{{todo_item.name}}</td>
                <td>{{todo_item.description}}</td>
                <td>{{todo_item.get_priority_display}}</td>
                <td>{{todo_item.get_status_display}}</td>
                <td>{{todo_item.created_at}}</td>
                <td>{{todo_item.finish_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}