{% extends 'base.html' %} {% block main %}


<div class="container">
    <h1>Todo list</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Названия</th>
                <th>Описания</th>
                <th>Приоритет</th>
                <th>Статус</th>
                <th>Создано</th>
                <th>Время оканчания</th>
            </tr>
        </thead>
        <tbody>
            {% for todo_item in todo_items %}
            <tr>
                <th>{{forloop.counter}}</th>
                <th>{{todo_item.name}}</th>
                <th>{{todo_item.description}}</th>
                <th>{{todo_item.get_priority_display}}</th>
                <th>{{todo_item.get_status_display}}</th>
                <th>{{todo_item.created_at}}</th>
                <th>{{todo_item.finish_time}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}